<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/adduser.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>

<body>
    <div id="cont">
        <ul>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">opciones</a>
                <div class="dropdown-content">
                    <a href="{{url_for('menu')}}">- H O M E -</a>
                    <a href="{{url_for('Show')}}">Users List</a>
                    <a href="#">Servicio 03</a>
                </div>
            </li>
            <li style="float:right"><a href="{{url_for('logout')}}">Log out</a></li>
        </ul>
    </div>
    <div class="w3-container">
        <hr>
        <div class="w3-center">
            <h2>Add User</h2>
        </div>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <br /> {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        
        <form action="/addInterp" method="POST" id="form" class="w3-row">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="w3-row w3-container m2 "><label for="solvoid">SOLVO ID</label>
                <input type="text" name="solvoid" id="solvoid" placeholder="ID"> 
                <label for="">FIRTS NAME</label>
                <input type="text" name="name" id="name" placeholder="Name">
                <label for="">LAST NAME</label>
                <input type="text" name="lastname" id="lastname" placeholder="Last Name"> </div>
            <div class="w3-row w3-container m2 "><label for="">CORP EMAIL</label>
                <input type="text" name="email" id="email" placeholder="Email">
                <label for="">SUPERVISOR</label>
                <select type="text" name="supervisor" id="supervisor">
                {% for sup in ListSup%}
                    <option name="sup" value="{{sup.0}}">{{sup.1}}</option>
                {%endfor%}  
                </select>

                <label for="">PROFILE</label>
                <select type="text" name="profile" id="profile">
                    <option value="interpreter">Interpreter</option>
                    <option value="supervisor">Supervisor</option>
                    
                </select>

                <div class="w3-row w3-container m2 "><label for="">PASSWORD</label>
                    <input type="text" name="pass" id="pass" placeholder="Password"></div>
                <div class="w3-row w3-container m2 "><input type="submit" value="INGRESAR" id="ingresar"></div>
        </form>
        </div>
        </table>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            $("#profile").change(function() {
                if ($('#profile').val() == "supervisor") {
                    $('#supervisor').prop('disabled', 'disabled');
                } else {
                    $('#supervisor').prop('disabled', false);
                }
            });
        </script>

</body>

</html>