<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/adduser.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>

<body>
    <div id="cont">
        <ul>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">opciones</a>
                <div class="dropdown-content">
                    <a href="{{url_for('menu')}}">- H O M E -</a>
                    <a href="{{url_for('Show')}}">Users List</a>
                    <a href="{{url_for('ShowCompCity')}}">Company City</a>
                </div>
            </li>
            <li style="float:right"><a href="{{url_for('logout')}}">Log out</a></li>
        </ul>
    </div>
    <div class="w3-container">
        <hr>
        <div class="w3-center">
            <h2>Edit Company and City</h2>
        </div>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <br /> {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        {% for companyCity in companyCitys %}
            <form action="/saveCompanyCity" method="POST" id="form" class="w3-row" style="text-align: center;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="w3-row w3-container m2 ">
                    <label for="">ID</label>
                    <input type="text" value="{{ companyCity [0] }}" name="id" id="id" readonly 
                    style="color: #a3a2a2; border: 1px solid #a3a2a2; background-color: #f5f4f4; border-radius: 3px;">

                    <label for="">COMPANY</label>
                    <select type="text" name="company" id="company">
                    {% for Company in Companys%}
                        {% if Company.0 == companyCity[1] %}
                            <option name="company" value="{{Company.0}}" selected>{{Company.1}}</option>
                        {% else %}
                            <option name="company" value="{{Company.0}}">{{Company.1}}</option>
                        {% endif %}
                    {%endfor%}  
                    </select>

                    <label for="">CITY</label>
                    <select type="text" name="city" id="city">
                    {% for City in Citys%}
                        {% if City.0 == companyCity [2] %}
                            <option name="city" value="{{City.0}}" selected>{{City.1}}</option>
                        {% else %}
                            <option name="city" value="{{City.0}}">{{City.1}}</option>
                        {% endif %}
                    {%endfor%}  
                    </select>
                    <br><br>
                    <div class="w3-row w3-container m2 ">
                        <input type="submit" value="SAVE" id="save">
                        <input type="button" value="RETURN" onClick="history.go(-1);">
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
</body>

</html>
